#projects {
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}

.card-header {
	font-size: 1.3rem;
}

.card-text {
	font-size: 1rem;
}

.card-img-top {
	transition: all 0.5s ease-in-out;
	padding: 15px 0;
}
.card-img-top:hover {
	transform: scale(1.05);
}

.card-link {
	color: grey;
	font-size: 1.3rem;
}

.card-link:hover {
	color: rgba(0, 0, 0, 0.9);
}
